.order{
    background-color: #3d97c4;
    color:white;
    height:70px;
    margin:50px
}

.status{
    width: 250px;
    text-align: center;
    background-color: #fafafa;
    border-radius: 10px;
  }
  

