.styling{
    /* margin-left: 100px; */
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-bottom: 100px;
  }
  
  
  .styling .centered-text {
      text-align: center;
    }
    /* body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    } */